/* Some stuff */

.cover {
    object-fit: cover !important;
  }
  
  .home_text {
    font-size: 20px;
  }

.social-justificado {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  /*border: 1px solid white;*/
  width: 300px;
  height: 75px;
  flex-wrap: wrap;
  align-content:center;
}

.love {
  color: whitesmoke;
  height: 10px;
}

.social {
  display: flex;
  height: 30px;
  padding: 0px 20px 0px 20px;
  justify-content: space-around;
  
}

.social-link {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
}

.social-link.linkedin {
  background-image: url('../img/linkedin.svg');
  
}

.social-link.instagram {
  background-image: url('../img/instagram.svg');
}

.social-link.twitter {
  background-image: url('../img/gorjeo.svg');
}

.social-link.facebook {
  background-image: url('../img/facebook.svg');
}